*{
    font-family: 'Quicksand', sans-serif;
}
body{
    width:100%;
    height: 100%;
}
/* .root{
    display: flex;
    justify-content: center;
    align-content: center;
} */

.root{
    margin:auto;
    height: 80%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*down - keyboard + input */
.root > div:nth-child(2){
    margin-top:30px;
    width:737px;
}


div > div:first-child{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}

/*div with button and word*/
.up .right{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin:40px;
}

/*button green*/
.right button{
    background-color:#27ae60;
    border-radius:9px;
    padding:15px 50px;
    color:white;
    font-weight: 700;
    border:0px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 40px;
}


.up > img{
    width:35%;
    padding:20px 20px;
}

button:hover{
    opacity: 0.6;
}

/*keyboard*/
.keyboard{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}

.keyboard div:first-child,.input_class{
    display:flex;
    align-items: center;
    justify-content: center;        
    
}

.keyboard > div{
    display: flex;
    flex-wrap:wrap;
    width:100%;
}


/*div keys*/
.keyboard div > div{
    width:40px;
    height:40px;
    background-color: #262626;
    color:white;
/*     background-color: #9faab5;
    color:rgba(0,0,0,0.5); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius:9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin:7px 7px;
}
.keyboard div > div.clicked{
    background-color: #262626;
    color:white;
    opacity: 70%;
}

.keyboard div > div.disable,.keyboard div > div.disable:hover{
    opacity: 30%;
}



.keyboard div > div:hover{
    opacity:0.8;
}


.input_class{
    margin-bottom:30px;
}

.input_class.disable {
    opacity:0.3;
}

.input_class input{
    height:30px;
    width:250px;
    margin:0px 20px;
    border:2px solid #9faaaa;
    border-radius:9px;
    
}

.input_class p{
    font-size:18px;
    color:#262626
    
}

.input_class button{
    font-size:16px;
    height:30px;
    width:100px;
    border:2px solid blue;
    border-radius:9px;
    color:blue;
    font-weight: 700;
}

.word{
    font-weight: 900;
    font-size:30px;
}

.green{
    color:#27ae60;
}
.red{
    color:red;
}

@media (max-width:900px){
    /*down - keyboard + input */
.root > div:nth-child(2){
    width:100%;
}

}